* {
	box-sizing: border-box;
}



.inner-column{
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}




ol{
	 list-style-type: none;
	 display: flex;
	 flex-wrap: wrap;
}
h1{
	text-align: center;
}

.monster-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	flex-basis: 50%;

}

.story{
	max-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	text-align: center;

}