@import 'reset.css';
@import'setup.css';
@import'typography.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import'../layouts/layout-1/style.css';
@import'../layouts/layout-2/style.css';
@import'../layouts/layout-3/style.css';
@import'../layouts/layout-4/style.css';



html{
	--bg-color: #fddcf9;
	--notice-color: #467afa;
	--teaser-color: #f932bd;
	--space-xl: 50px;
	--space-l: 25px;
	--space-m: 15px;
}


body{

	@media (min-width: 600px) {
		background-color: var(--bg-color);
	}

}
