h1, .loud-voice {
	font-family: "Abril Fatface", serif;
	font-size: clamp(40px, 10vw, 48px);
}

.attention-voice {
	font-family: "Abril Fatface", serif;
	font-size: clamp(32px, 10vw, 40px);
}

h2, .notice-voice {
	font-family: "Abril Fatface", serif;
	font-size: clamp(24px, 10vw, 32px);

}

.firm-voice {
	 font-family: "Poppins", serif;
	 font-size: 24px;
}

p, .calm-voice {
	 font-family: "Poppins", serif;
	 font-size: 20px;
	 line-height: 1.6;
}