field, input, label{
	display: block;
}

form{
	border: 2px solid yellow;
	max-width: 300px;
	color: white;
}

 h1{
	padding: 10px;
}

form{
	padding: 20px 10px;
}

label{
	font-size: 22px;
}


h1 + form{
	margin-top: 20px;
}

field + field{
	margin-top: 20px;
}

button{
	margin-top: 20px;
	transition-duration: 0.4s;
	padding: 5px;
}

button:hover {
  background-color: pink;
  color: black;
}

input{
	margin-top: 5px;
	padding: 10px;
}

select{
	margin-top: 5px;
}

.error{
	color: purple;
	font-size: 18px;
	}
