
@import "setup.css";
@import "reset.css";
@import "form.css";
@import "typography.css";


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #4af2a1, #5e6994, #6638f0, #f0969a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

h2,h3,h4,h5{
	padding-bottom: 10px;
}

nav {
	display: flex;

}

nav a{
	text-decoration: underline;
	
	padding: 10px;
	transition: 0.5s;
}

nav a:hover{
	background-color: pink;
	color: black;
}

.game a:hover{
	color: green;

}


h1 + picture{
	margin-top: 30px;
}

picture + p{
	margin-top: 30px;
}

ul {
	margin-top: 30px;
}

game-card{
	display: block;
	padding: 10px;
}

game-card a{
	text-decoration: underline;
}

.game + .game {
	margin-top: 30px;

}

picture{
	max-width: 200px;
}



